::selection{
    background-color: lime;
    color: black;
}

body{
    padding: 0;
    margin: 0;
    background-color: black;
    color: lime;
    font-family: Courier, serif;
    cursor: url("/phpForum/img/cur.cur"), default;
}

a:hover{
    cursor: url("/phpForum/img/Link.cur"), pointer;
}

a{
    text-decoration: none;
}
.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 3em;
    border-bottom: 1px solid lime;
    width: 100vw;
}

.nav-links{
    order: 0;
    justify-content: center;
    width: 50vw;
    margin-top: 1em;
    margin-left: 1em;
}

.nav-spacer{
    order: 3;
    width: 50vw;
}

.nav-logo{
    order: 1;
    justify-content: center;
    align-content: center;
    width: 100%;
    text-align: center;
    margin-top: -0.5em;
}

.forum-posts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    position: absolute;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    top: 4em;
    bottom: 2em;
}

table{
    text-align: center;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

td{
    border: 1px solid lime;
}

.pagination_id{
    margin-top: 5px;
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    flex-grow: 2;
}

#pagination{
    letter-spacing: 5px;
    text-decoration: none;
    color: lime;
    padding: 3px;
    border: 1px solid lime;
    margin-left: 5px;
}
#pagination:hover{
    box-shadow: 0 0 4px lime;
}

tr:hover{
    box-shadow: 0 0 5px lime;
}

@media only screen and (max-width: 925px){
    .nav{
        height: 4em;
    }
    .forum-posts{
        top: 6em;
    }
}
@media only screen and (max-width: 480px){
    .nav{
        height: 5em;
    }
    .forum-posts{
        top: 7em;
    }
}